<div class="widget-box">
    <div class="widget-title">
        <span class="icon"><i class="icon-th"></i></span>
        <h5>部室管理</h5>
    </div>
    <div class="widget-content nopadding">
        <table class="table table-bordered data-table">
            <thead>
                <tr>
                    <th width="5%">序号</th>
                    <th width="70%">部室名称</th>
                    <th width="5%">排序</th>
                    <th width="10%">是否激活</th>
                    <th width="10%">操作</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>